@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");
/* UNIVERSAL SECTION DESIGN */

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

*::selection {
  color: #000;
  background-color: #fff;
}

:root {
  --bg-color: #081b29;
  --main-color: #48e655;
  --text-color: #ededed;
  --secund-bg-color: #112e42;
}

html {
  font-size: 64.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* NAVIGATION SECTION DESIGN */

.header {
  width: 100%;
  padding: 1rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.header:hover:after {
  left: 100%;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.logo-image > img {
  width: 3.8rem;
  height: 3.8rem;
  border: 1px solid var(--main-color);
  border-radius: 50%;
}
.logo-name {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navigation a {
  color: var(--text-color);
  font-size: 1.6rem;
  margin-left: 3.5rem;
  font-weight: 500;
}

.navigation a:hover,
.navigation a.active {
  color: var(--main-color);
}

#icon-menu {
  color: var(--text-color);
  font-size: 3.6rem;
  cursor: pointer;
  display: none;
}

/* HOME IMAGE SECTION DESIGN */
.home-image {
  position: relative;
  right: 0;
  margin-top: 60px;
  margin-right: 100px;
  height: 400px;
  width: 400px;
}
.home-image img {
  width: 400px;
  height: 400px;
}

/* HOME SECTION DESIGN */
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
}
.home-content {
  max-width: 50rem;
}

.home-content h1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.5rem;
  font-family: "Raleway", sans-serif;
}
.home-content .text-animate {
  position: relative;
  width: 32.8rem;
}
.home-content .text-animate h3 {
  margin-bottom: -2rem;
  font-size: 3.2rem;
  color: transparent;
  font-weight: 700;
  -webkit-text-stroke: 0.5px var(--main-color);
}
.home-content p {
  font-size: 1.5rem;
  margin: 2rem 0 4rem;
}
/* {BUTTON DESIGN} */
.btn-box {
  margin-top: -2.5rem;
  width: 25.5rem;
  height: 3.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.btn-box .btn {
  width: 10rem;
  height: 100%;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 1rem;
  color: var(--bg-color);
  font-size: 1.5rem;
  font-weight: 600;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}
.btn-box .btn::before {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--secund-bg-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}
.btn-box .btn:hover:before {
  width: 100%;
  color: var(--main-color);
}
.btn-box .btn:hover {
  color: var(--main-color);
}
/* (HOME SOCIAL LINK) */
.home-scl {
  position: absolute;
  right: 0;
  margin-right: 250px;
  bottom: 6.8rem;
  width: 170px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-scl a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid var(--main-color);
  background-color: transparent;
  border-radius: 50%;
  color: var(--secund-bg-color);
  background-color: var(--main-color);
  font-size: 2rem;
  font-weight: 500;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}
.home-scl a::before {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--secund-bg-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}

.home-scl a:hover::before {
  width: 100%;
  color: var(--secund-bg-color);
}
.home-scl a:hover {
  color: var(--main-color);
}

/* ABOUT SECTION DESIGN */
.about-img img {
  height: 150px;
  width: 150px;
}
.about {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 6rem;
}

.about > .about-heading {
  position: relative;
  width: 32.8rem;
}
.about > .about-heading h1 {
  letter-spacing: 1px;
  margin-bottom: 2rem;
  font-size: 3.2rem;
  color: transparent;
  font-weight: 600;
  text-align: center;
  -webkit-text-stroke: 1px var(--text-color);
}
.about > .about-heading h1 > span {
  -webkit-text-stroke: 1px var(--main-color);
}
/* { ABOUT-IMAGE DESIGN }  */

.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.about-img img {
  width: 90%;
  height: 90%;
  border: 2px solid var(--main-color);
  border-radius: 50%;
}

.about-img .circle-spin {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  border-radius: 50%;
  transform: translate(0%, 0%) rotate(0);
  border-top: 0.2rem solid var(--text-color);
  border-bottom: 0.2rem solid var(--text-color);
  border-right: 0.2rem solid var(--main-color);
  border-left: 0.2rem solid var(--main-color);
}

.content h3 {
  margin-top: -3rem;
  width: 28rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  border-bottom: 2px solid var(--text-color);
  font-family: "Raleway", sans-serif;
}
.content p {
  font-size: 1.5rem;
}
.btns {
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

/* EDUCTION SECTION DESIGN  */
.education > .heading {
  margin-top: -3rem;
  margin-bottom: 5rem;
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
  color: transparent;
  letter-spacing: 1px;
  -webkit-text-stroke: 1px var(--text-color);
}

.education > .heading > span {
  -webkit-text-stroke: 1px var(--main-color);
}

.education {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
}

.education > .education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education-row > .education-colum {
  flex: 1 1 40rem;
}

.education-colum > .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.eduction-box {
  border-left: 0.2rem solid var(--main-color);
}

.eduction-box > .eduction-content {
  position: relative;
  padding-left: 2rem;
}

.eduction-box > .eduction-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 25%;
  background-color: var(--main-color);
}

.eduction-content > .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 1.2rem;
  overflow: hidden;
}
.eduction-content > .content > .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: 0.5rem;
}

.eduction-content > .content > .year > i {
  padding-right: 0.5rem;
}

.eduction-content > .content > h2 {
  font-size: 1.9rem;
  color: var(--text-color);
  font-weight: normal;
}
.eduction-content > .content > p {
  font-size: 1.4rem;
  padding-top: 0.2rem;
}

/* Animation */

.eduction-content > .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: url(./IMAGES/Card-back.jpg);
  background-size: cover;
  z-index: -1;
  transition: 0.5s;
}

.eduction-content > .content:hover:before {
  width: 100%;
}

/* SKILLS SECTION DESIGN */
.skills > .heading {
  margin-top: -3rem;
  margin-bottom: 5rem;
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
  color: transparent;
  letter-spacing: 1px;
  -webkit-text-stroke: 1px var(--text-color);
}

.skills > .heading > span {
  -webkit-text-stroke: 1px var(--main-color);
}

.skills {
  min-height: auto;
  padding-bottom: 7rem;
  background: var(--secund-bg-color);
}

.skills > .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.skills-row > .skills-column {
  flex: 1 1 40rem;
}

.skills-column > .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.skills-box .skills-content {
  position: relative;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
  overflow: hidden;
}

.skills-content > .progress {
  padding: 1rem 0;
}

.skills-content > .progress h3 {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
}

.skills-content > .progress h3 span {
  color: var(--text-color);
}

.skills-content > .progress > .bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
  padding: 0.5rem;
  margin: 1rem 0;
}

.skills-content > .progress > .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background-color: var(--main-color);
}

.skills-column:nth-child(1) .skills-content > .progress:nth-child(1) .bar span {
  width: 90%;
}
.skills-column:nth-child(1) .skills-content > .progress:nth-child(2) .bar span {
  width: 80%;
}
.skills-column:nth-child(1) .skills-content > .progress:nth-child(3) .bar span {
  width: 60%;
}
.skills-column:nth-child(1) .skills-content > .progress:nth-child(4) .bar span {
  width: 30%;
}

.skills-column:nth-child(2) .skills-content > .progress:nth-child(1) .bar span {
  width: 70%;
}
.skills-column:nth-child(2) .skills-content > .progress:nth-child(2) .bar span {
  width: 60%;
}
.skills-column:nth-child(2) .skills-content > .progress:nth-child(3) .bar span {
  width: 45%;
}
.skills-column:nth-child(2) .skills-content > .progress:nth-child(4) .bar span {
  width: 55%;
}

/* Animation */

.skills-box .skills-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: url(./IMAGES/skills-background.jpg);
  background-size: cover;
  z-index: -1;
  transition: 0.5s;
}

.skills-box .skills-content:hover:before {
  width: 100%;
}

/* WORK SECTION DESIGN */
#works {
  background: url(./IMAGES/Working-back.gif);
  min-height: 100%;
  padding-bottom: 7rem;

  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.works > .heading {
  margin-top: -3rem;
  margin-bottom: 5rem;
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
  color: transparent;
  letter-spacing: 1px;
  -webkit-text-stroke: 1px var(--text-color);
}

.works > .heading > span {
  -webkit-text-stroke: 1px var(--main-color);
}

.works > .content {
  margin-top: -3rem;
  margin-bottom: 5rem;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  color: transparent;
  letter-spacing: 1px;
  -webkit-text-stroke: 1px var(--main-color);
}

/* Contact section design */
.contact {
  min-height: auto;
  padding-bottom: 7rem;
  background: var(--bg-color);
}

.contact > .heading {
  margin-top: -3rem;
  margin-bottom: 0rem;
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
  color: transparent;
  letter-spacing: 1px;
  -webkit-text-stroke: 1px var(--text-color);
}

.contact > .heading > span {
  -webkit-text-stroke: 1px var(--main-color);
}

.contact > .find {
  text-align: center;
  font-size: 2rem;
  color: var(--main-color);
}

.contact > .box {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 292px 292px 292px;
  grid-template-rows: 90px 90px 90px;
  gap: 2rem;
}

.contact > .box > .mini-box {
  background-color: var(--secund-bg-color);
  border-radius: 5px;
  border-right: 2px solid var(--main-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.contact > .box > .mini-box:hover {
  transform: scale(1.06);
  z-index: 1;
  transition: 0.3s;
}
.contact > .box > .mini-box > .icon {
  font-size: 50px;
  margin-left: 20px;
}

.contact > .box > .mini-box > .content {
  margin-left: 15px;
}
.contact > .box > .mini-box > .content > h2 {
  font-size: 18px;
  font-weight: 400;
}
.contact > .box > .mini-box > .content > p {
  font-size: 12px;
  font-weight: 300;
}
.contact > .box > .mail {
  border-color: #8c2242;
}

.contact > .box > .mini-box > .mail-icon {
  color: #8c2242;
}

.contact > .box > .github {
  border-color: #747474;
}

.contact > .box > .mini-box > .github-icon {
  color: #747474;
}

.contact > .box > .discord {
  border-color: #6e83cb;
}

.contact > .box > .mini-box > .discord-icon {
  color: #6e83cb;
}

.contact > .box > .twitter {
  border-color: #0071db;
}

.contact > .box > .mini-box > .twitter-icon {
  color: #0071db;
}

.contact > .box > .linkedin {
  border-color: #2867b2;
}

.contact > .box > .mini-box > .linkedin-icon {
  color: #2867b2;
}
.contact > .box > .facebook {
  border-color: #4b7de0;
}

.contact > .box > .mini-box > .facebook-icon {
  color: #4b7de0;
}

/* FOOTER SECTION DESIGN */

.footer {
  text-align: center;
  font-size: 15px;
  margin-bottom: -30px;
}
.small-nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-nav > ul > li {
  padding: 10px 10px;
  transition: all 0.5s ease-in-out;
}
.small-nav > ul > li:hover {
  transform: translateY(-10px);
}
.small-nav > ul > li > a {
  color: #fff;
  font-size: 15px;
}

.small-nav > ul > li > a:hover {
  color: var(--main-color);
  font-size: 15px;
  transition: 0.5s;
}