@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");
/*+++++++++++++++++++++++++++
 UNIVERSAL SECTION DESIGN 
 ++++++++++++++++++++++++++++*/

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

*::selection {
  color: #000;
  background-color: #fff;
}

:root {
  --bg-color: #081b29;
  --main-color: #48e655;
  --text-color: #ededed;
  --secund-bg-color: #112e42;
}

html {
  font-size: 64.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/*++++++++++++++++++++++++++++
 NAVIGATION SECTION DESIGN 
 ++++++++++++++++++++++++++++*/

.header {
  width: 100%;
  padding: 1rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.header:hover:after {
  left: 100%;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.logo-image > img {
  width: 3.8rem;
  height: 3.8rem;
  border: 1px solid var(--main-color);
  border-radius: 50%;
}
.logo-name {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navigation a {
  color: var(--text-color);
  font-size: 1.6rem;
  margin-left: 3.5rem;
  font-weight: 500;
}

.navigation a:hover,
.navigation a.active {
  color: var(--main-color);
}

#icon-menu {
  color: var(--text-color);
  font-size: 3.6rem;
  cursor: pointer;
  display: none;
}

/*++++++++++++++++++++++++
FOOTER SECTION DESIGN
+++++++++++++++++++++++++*/
.Built a {
  color: var(--text-color);
}
.Builts {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.Built a:hover {
  color: var(--main-color);
}

.footer-section {
  height: 75px;
  align-items: center;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  font-size: 15px;
}
.small-nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-nav > ul > li {
  padding: 10px 10px;
  transition: all 0.5s ease-in-out;
}
.small-nav > ul > li:hover {
  transform: translateY(-10px);
}
.small-nav > ul > li > a {
  color: #fff;
  font-size: 15px;
}

.small-nav > ul > li > a:hover {
  color: var(--main-color);
  font-size: 15px;
  transition: 0.5s;
}



/*---------------------- 
HEADER SECTION DESIGN 
-----------------------*/

.about-header > .top > p {
  font-size: 14px;
}
.about-header > .bottom > h3 {
  font-size: 15px;
  font-weight: normal;
  padding: 30px 25px;
  text-align: justify;
  line-height: 24px;
}

.about-header > .bottom > h3 > p {
  line-height: 36px;
}

.about-header > .bottom {
  margin-top: 35px;
  border-left: 2.5px solid var(--main-color);
  background-color: var(--secund-bg-color);
  border-radius: 10px;
}

.about-header > .bottom > h3 > span {
  color: var(--main-color);
  font-weight: bold;
}

/* <!-- -------------------
    TECHNICAL SECTION DESIGN
  ------------------------> */
.technical-skill {
  margin-top: -170px;
}
.technical-skill > .TS-top {
  line-height: 36px;
  border-bottom: 0.3px solid var(--main-color);
}
.technical-skill > .TS-top > h1 {
  font-size: 32px;
}
.technical-skill > .TS-top > p {
  font-size: 14px;
}
.technical-container {
  margin-top: 30px;
}
.technical-container > .tech-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}
.technical-container > .tech-box .tech-min-box {
  display: flex;
  align-items: center;
  justify-content: safe;
  gap: 10px;
  border-left: 2px solid var(--main-color);
  border-radius: 5px;
  background-color: var(--secund-bg-color);
  padding: 15px 15px;
  transition: all 0.5s ease-in-out;
}

.technical-container > .tech-box .tech-min-box > .tech-icon {
  font-size: 35px;
}
.content > .head {
  font-size: 18px;
  margin-bottom: 3px;
}
.content p {
  font-size: 12px;
}

/* TECHNICAL HOVER EFFECT */
.technical-container > .tech-box .tech-min-box:hover {
  cursor: pointer;
  transform: scale(1.03);
  z-index: 1;
  transition: 0.4s;
  color: rgb(164, 105, 193);
  border-color: rgb(164, 105, 193);
}

/* <!-- ++++++++++++++++++++++
 Timeline SECTION DESIGN
++++++++++++++++++++++++--> */
.TT-top {
  line-height: 36px;
  border-bottom: 0.3px solid var(--main-color);
}
.timeline {
  margin-top: -80px;
}
.TT-top {
  font-size: 14px;
}

.images > img {
  height: 200px;
  width: auto;
  margin: 0 20px;
}
.images {
  display: inline-block;
  animation: 25s slides infinite linear;
}
.slides {
  white-space: nowrap;
  overflow: hidden;
  padding: 40px 0;
}
/* Animation */
@keyframes slides {
  from{transform: translateX(0);}
  to{transform: translateX(-100%);}
}
.slides:hover .images {
  animation-play-state: paused;
}