@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");
/* UNIVERSAL SECTION DESIGN */

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

*::selection {
  color: #000;
  background-color: #fff;
}

:root {
  --bg-color: #081b29;
  --main-color: #48e655;
  --text-color: #ededed;
  --secund-bg-color: #112e42;
}

html {
  font-size: 64.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* NAVIGATION SECTION DESIGN */

.header {
  width: 100%;
  padding: 1rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.header:hover:after {
  left: 100%;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.logo-image > img {
  width: 3.8rem;
  height: 3.8rem;
  border: 1px solid var(--main-color);
  border-radius: 50%;
}
.logo-name {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navigation a {
  color: var(--text-color);
  font-size: 1.6rem;
  margin-left: 3.5rem;
  font-weight: 500;
}

.navigation a:hover,
.navigation a.active {
  color: var(--main-color);
}

#icon-menu {
  color: var(--text-color);
  font-size: 3.6rem;
  cursor: pointer;
  display: none;
}
/* ABOUT SECTION DESIGN */
.about-img img {
  height: 150px;
  width: 150px;
}
.about {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 6rem;
}

.about > .about-heading {
  position: relative;
  width: 32.8rem;
}
.about > .about-heading h1 {
  letter-spacing: 1px;
  margin-bottom: 2rem;
  font-size: 3.2rem;
  color: transparent;
  font-weight: 600;
  text-align: center;
  -webkit-text-stroke: 1px var(--text-color);
}
.about > .about-heading h1 > span {
  -webkit-text-stroke: 1px var(--main-color);
}
/* { ABOUT-IMAGE DESIGN }  */

.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.about-img img {
  width: 90%;
  height: 90%;
  border: 2px solid var(--main-color);
  border-radius: 50%;
}

.about-img .circle-spin {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  border-radius: 50%;
  transform: translate(0%, 0%) rotate(0);
  border-top: 0.2rem solid var(--text-color);
  border-bottom: 0.2rem solid var(--text-color);
  border-right: 0.2rem solid var(--main-color);
  border-left: 0.2rem solid var(--main-color);
}

.content h3 {
  margin-top: -3rem;
  width: 28rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  border-bottom: 2px solid var(--text-color);
  font-family: "Raleway", sans-serif;
}
.content p {
  font-size: 1.5rem;
}
.btns {
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}
