/* ABOUT SECTION DESIGN */
.about-img img {
  height: 150px;
  width: 150px;
}
.about {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 6rem;
}

.about > .about-heading {
  position: relative;
  width: 32.8rem;
}
.about > .about-heading h1 {
  letter-spacing: 1px;
  margin-bottom: 2rem;
  font-size: 3.2rem;
  color: transparent;
  font-weight: 600;
  text-align: center;
  -webkit-text-stroke: 1px var(--text-color);
}
.about > .about-heading h1 > span {
  -webkit-text-stroke: 1px var(--main-color);
}
/* { ABOUT-IMAGE DESIGN }  */

.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.about-img img {
  width: 90%;
  height: 90%;
  border: 2px solid var(--main-color);
  border-radius: 50%;
}

.about-img .circle-spin {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  border-radius: 50%;
  transform: translate(0%, 0%) rotate(0);
  border-top: 0.2rem solid var(--text-color);
  border-bottom: 0.2rem solid var(--text-color);
  border-right: 0.2rem solid var(--main-color);
  border-left: 0.2rem solid var(--main-color);
}

.content h3 {
  margin-top: -3rem;
  width: 28rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  border-bottom: 2px solid var(--text-color);
  font-family: "Raleway", sans-serif;
}
.content p {
  font-size: 1.5rem;
}
.btns {
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}